PORT=3000
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=700d
UPLOAD_DIR=uploads

# ImageKit.io credentials — get from https://imagekit.io/dashboard/developer/api-keys
IMAGEKIT_PUBLIC_KEY=public_tVEwOFBsaKAkW8YxefDDhfSpTmI=
IMAGEKIT_PRIVATE_KEY=private_hctLyq2S0ArUP/kkODeK7ya8bxM=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/pdvdrx2hmd
